*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.google.com/specimen/Manrope');

body{
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope';
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    line-height: 1.6;
}
.container{
    width: 50%;
    margin: auto;
    margin: 10px;
    padding: 10px;
    background-color: hsl(217, 19%, 38%);
    border: 1px solid hsl(217, 19%, 38%);
    border-radius: 15px;
    height: 40vh;
}
.form-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#icon{
    color: rgb(255, 125, 125);
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
label{
    color:hsl(216, 24%, 96%)
}
.error{
    color:rgb(255, 125, 125);
    display: none;
}
input{
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
}
input:focus{
    border: none;
    outline: none;
}
button{
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 10%;
    background:hsl(150, 100%, 66%);
    cursor: pointer;
}
button:hover{
    color: white;
    background: rgb(253, 129, 129);
}
h1{
    text-align: center;
    color:hsl(150, 100%, 66%);
}
.generator{
    width: 50%;
    margin: auto;
    margin: 10px;
    padding: 10px;
    background-color: hsl(217, 19%, 38%);
    border: 1px solid hsl(217, 19%, 38%);
    border-radius: 15px;
    position: absolute;
    height: 40vh;
    display: none;
    z-index: 2;
}
#wish{
    width: 50%;
    height: 30vh;
    opacity: 0.8;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 10px;
}
h2{
    color: hsl(150, 100%, 66%);
    text-align: center;
}
p{
    margin-top: 5px;
    color:hsl(193, 38%, 86%);
    padding: 15px;
}
.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.generate-btn{
    padding: 15px 15px;
    background: hsl(150, 100%, 66%);
    position: absolute;
    left: 43%;
    top: 80%;
    border-radius: 50%;
    margin-top: 25px;
    width:50px;
    height: 50px;
    cursor: pointer;
} 
.generate-btn:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.spin{
    animation: spin 1s linear;
}
@media(max-width: 767px) {
    .container{
        width: 80%;
    }
    h1, 
    h2{
        font-size: 16px;
    }
    .generator{
        width: 80%;
    }
    #wish{
        margin-top: 15px;
        width: 100%;
        height: 30vh;
        align-items: center;
        opacity: 0.8;
    }
}